<div class="auth auth__background">
  <div class="auth__wrapper">
    <div class="auth__block">
      <h2 class="auth__title">Авторизация</h2>
      <p class="auth__text">Does not have an account ? <a routerLink="/auth/register">Register</a></p>
      <form class="auth__form auth-form" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <label class="auth-form__label" for="email">
          Email
          <input class="auth-form__input" id="email" type="email" formControlName="email">
        </label>
        <label class="auth-form__label" for="password">
          Password
          <input class="auth-form__input" id="password" type="password" formControlName="password">
        </label>
        <button class="auth-form__button" type="submit" [disabled]="loginFormGroup.invalid">Войти</button>
      </form>
    </div>
  </div>
</div>
