<div class="auth auth__background">
  <div class="auth__wrapper">
    <div class="auth__block">
      <h2 class="auth__title">Регистрация </h2>
      <p class="auth__text">Already have an Account ? <a routerLink="/auth/login">Log in</a></p>
      <form class="auth__form auth-form">
        <label class="auth-form__label" for="name">
          Name
          <input class="auth-form__input" id="name" type="text">
        </label>
        <label class="auth-form__label" for="email">
          Email
          <input class="auth-form__input" id="email" type="email">
        </label>
        <label class="auth-form__label" for="password">
          Password
          <input class="auth-form__input" id="password" type="password">
        </label>
        <button class="auth-form__button">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
