.row {
  cursor: pointer;
}

.button {
  margin-top: 15px;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.detail {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
}

