.heroes {
  list-style: none;
  padding: 0;
}

.hero:not(:last-child) {
  margin-bottom: 10px;
}

.hero.active button {
  background: #c2c3c4;
}

.hero__button {
  border: none;
  background: #e0e0e0;
  padding: 10px 15px 10px 0px;
  border-radius: 5px;
  font-weight: 700;
}

.badge {
  margin-right: 10px;
  background: #285d93;
  color: #fff;
  padding: 10px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
