<div class="not-found">
  <img class="not-found__left-top-circle circle" src="assets/left-top-circle.svg">
  <img class="not-found__left-bottom-circle circle" src="assets/left-bottom-circle.svg">
  <img class="not-found__right-top-circle circle" src="assets/right-top-circle.svg">
  <h2 class="not-found__title"><img class="not-found__left-top-circle circle" src="assets/title-circle.svg">404</h2>
  <p class="not-found__descr">this page not found</p>
  <p class="not-found__text">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
  <button class="not-found__btn" (click)="getBack()">Back to home</button>
</div>
